@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: "Droid Sans", sans-serif;
}

code {
  font-family: "Droid Sans Mono", monospace;
}

a {
  text-decoration: none;
}

.header h1 {
  height: 100px;
  margin: 0.2em;
  padding-left: 1.2em;
  font-family: "Questrial", sans-serif;
  font-size: 100px;
  background-image: url("axes.svg");
  background-repeat: no-repeat;
}

.header nav {
  text-align: center;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 1em 0 1em;
}

article {
  margin: 0 1em 1em 1em;
}

article aside {
  float: right;
  margin: 0 1em 0 1em;
  padding: 0;
}

article aside h3 {
  margin: 0;
}

article aside nav ul {
  list-style-type: none;
  padding: 0;
}

.api {
  padding-right: 0.5em;
}

.api:before {
  content: "[";
}

.api:after {
  content: "]";
}

.source {
  padding-right: 0.5em;
}

.source:before {
  content: "[";
}

.source:after {
  content: "]";
}
